@font-face {
    font-family: 'KarbonRegular';
    src: url('../Fonts/karbon-regular-webfont.woff'); /* IE9 Compat Modes */
   
  }
  @font-face {
    font-family: 'KarbonSemibold';
    src: url('../Fonts/karbon-semibold-webfont.woff'); /* IE9 Compat Modes */
  }