@import "../theme/variables.scss";
@import "../theme/font.scss";
body {
  font-family: KarbonRegular;
}
.navbar {
  background-color: $backgroundHeader;
  height: $heightHeader;
  width: 100%;
  display: flex;
  align-items: center;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $backgroundFooter;
  height: $heightFooter;
  width: 100%;
  color: $white;
  p {
    text-align: center;
  }
}
.main-container {
  width: 80%;
  margin: auto;
}
.karbon-semibold {
  font-family: KarbonSemibold;
}
.uppercase {
  text-transform: uppercase;
}
