.filters_container {
    position: relative;
    background-color:#F4F4F4 ;
    padding: 5%;
    max-height: 420px;
    &_title {
        text-align: center;
       font-size: 36px; 
       text-transform: uppercase;
       margin-bottom: 30px;
    }
}
.search_container{
    display: flex;
    height: 30px;
    margin-bottom: 30px;
    input {
        border: 0;
        height: 30px;
        outline: none;
        &:focus{
            outline: none;
            border :0
        }
    }
}
.iconSearch {
    width: 30px;
    height: 30px;
    background-color: #644C79;
    display: flex;
    align-items: center;
    justify-content: center;
}
.switch_container {
    display: flex;
    align-items: center;
    span {
        color: #003479;
    }
}
.select_id{
    margin-top: 30px;
}
.select_component{
    margin-top: 10px;
    width: 100%;
    background-color: white;
    height: 30px;
}
.reset_filters {
    width: 100%;
    text-align: center;
    color: #003479;
    position: absolute;
    left: 0;
    bottom: 5%;
    span {
        border-bottom: 2px solid #003479;
        cursor: pointer;
    }
   
}